<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="Esoft_projectEntities" connectionString="metadata=res://*/ModelADONET.csdl|res://*/ModelADONET.ssdl|res://*/ModelADONET.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LE5UF28\SQLEXPRESS;initial catalog=Esoft_project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Esoft_projectEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LE5UF28\SQLEXPRESS;initial catalog=Esoft_project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Esoft_projectEntities2" connectionString="metadata=res://*/Model666.csdl|res://*/Model666.ssdl|res://*/Model666.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LE5UF28\SQLEXPRESS;initial catalog=Esoft_project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Esoft_projectEntities3" connectionString="metadata=res://*/ModelSixSixSix.csdl|res://*/ModelSixSixSix.ssdl|res://*/ModelSixSixSix.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LE5UF28\SQLEXPRESS;initial catalog=Esoft_project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Esoft_projectEntities4" connectionString="metadata=res://*/ModelSix6Six.csdl|res://*/ModelSix6Six.ssdl|res://*/ModelSix6Six.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LE5UF28\SQLEXPRESS;initial catalog=Esoft_project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Esoft_projectEntities5" connectionString="metadata=res://*/Model666.csdl|res://*/Model666.ssdl|res://*/Model666.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LE5UF28\SQLEXPRESS;initial catalog=Esoft_project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Esoft_projectEntities6" connectionString="metadata=res://*/Model666.csdl|res://*/Model666.ssdl|res://*/Model666.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LE5UF28\SQLEXPRESS;initial catalog=Esoft_project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Esoft_projectEntities7" connectionString="metadata=res://*/Model666.csdl|res://*/Model666.ssdl|res://*/Model666.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LE5UF28\SQLEXPRESS;initial catalog=Esoft_project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>